node_modules

.env
.env.local
.env.development
.env.production

dist
build

coverage

logs
*.log

.DS_Store
Thumbs.db

.vscode
.idea
docs
/generated/prisma

scratch/
src/generated/
vercel/
.vercel
.env*.local
.env.local
.env.local.development.local
.env.local.production.local
.env.local.test.local

prisma/migrations/
